body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  background-color: lightgrey;
}

#app {
  width: 50%;
  margin: auto;
  margin-top: 6em;
  background-color: white;
  padding: 2em;
}

#main {
  display: flex;
  width: 100%;
}

#scores {
  width: 60%;
  margin: 1em;
}

#scores button {
  margin: 1em;
}

#scores ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.list-group.list-group-striped li:nth-of-type(odd) {
  background: lightgray;
  border-radius: 25px;
}

ul.list-group.list-group-striped li:nth-of-type(even) {
  background: rgb(237, 233, 233);
  border-radius: 25px;
}

ul.list-group.list-group-hover li:hover {
  background: white;
}

#scores li {
  margin-top: 1em;
}

.title {
  display: flex;
  justify-content: space-between;
}

#input {
  width: 35%;
  margin: 1em;
}

#input .title {
  width: 100%;
  margin-left: 3%;
}

#input input {
  width: 90%;
  margin: 1em;
  display: block;
  border-color: gray;
  border-radius: 30px;
}

#input button {
  margin-left: 38%;
}
