body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  background-color: lightgrey;
}

#app {
  width: 50%;
  margin: auto;
  margin-top: 6em;
  background-color: white;
  padding: 2em;
}

#main {
  display: flex;
  width: 100%;
}

#scores {
  width: 40%;
  margin: 1em;
}

#scores button {
  margin: 1em;
}

#scores ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#scores li {
  margin-top: 1em;
}

.title {
  display: flex;
  justify-content: space-between;
}

#input {
  width: 40%;
  margin: 1em;
}

#input .title {
  width: 100%;
  margin-left: 3%;
}

#input input {
  width: 50%;
  margin: 1em;
  display: block;
}

#input button {
  margin-left: 38%;
}
